
<%- include('../partials/head.ejs')%>
<%- include('../partials/header') %>

<h1>MY NAME IS <span id="red">MOHAMMED ALI</span></h1>

<p>
  and this is my first semi-serious project of a working blog
  using nodejs, express and mysql.
  <br><br>
  I hope you enjoy it :).

</p>

<%- include('../partials/footer') %>
