<div class="trans-black">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/about">about</a></li>
        <li role="presentation"><a href="/posts">posts</a></li>
      </ul>
</div>

<div class="content">
